.container-tab {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.274);
}
.bloc-tabs {
  display: flex;
}
.tabs {
  padding: 15px;
  text-align: center;
  width: 30%;
  background: rgba(128, 128, 128, 0.075);
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.274);
  box-sizing: content-box;
  position: relative;
  outline: none;
}
.tabs:not(:last-child){
  border-right: 1px solid rgba(0, 0, 0, 0.274);
}
.active-tabs  {
  background: #f9a825c9;
  border-bottom: 1px solid transparent;
}
.active-tabs::before {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 5px;
  background: #f9a825c9;
}
button {
  border: none;
  color: white;
}
.content-tabs {
  flex-grow : 1;
}
.content {
  background: #f9a825c9;
  padding: 20px;
  width: 100%;
  height: 100%;
  display: none;
}
.active-content {
  display: block;
}
